[submodule "nanoGPT"]
	path = nanoGPT
	url = https://github.com/aigaosheng/nanoGPT.git
[submodule "micrograd"]
	path = micrograd
	url = https://github.com/aigaosheng/micrograd.git
[submodule "nanoChat"]
	path = nanoChat
	url = https://github.com/aigaosheng/nanoChat.git
[submodule "llm.c"]
	path = llm.c
	url = https://github.com/aigaosheng/llm.c.git
[submodule "llama2.c"]
	path = llama2.c
	url = https://github.com/aigaosheng/llama2.c.git
[submodule "vllm"]
	path = vllm
	url = https://github.com/aigaosheng/vllm.git
[submodule "nanochat"]
	path = nanochat
	url = https://github.com/aigaosheng/nanochat
[submodule "ktransformers"]
	path = ktransformers
	url = git@github.com:aigaosheng/ktransformers.git
[submodule "llama.cpp"]
	path = llama.cpp
	url = git@github.com:aigaosheng/llama.cpp.git
