[submodule "nanochat"]
	path = nanochat
	url = https://github.com/karpathy/nanochat.git
[submodule "nanoGPT"]
	path = nanoGPT
	url = https://github.com/karpathy/nanoGPT.git
[submodule "micrograd"]
	path = micrograd
	url = https://github.com/karpathy/micrograd.git
